
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: montserrat, Arial, Helvetica, sans-serif;
    background: #5A0000;
    color: #E6E6E6;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    margin: 0 0 1rem 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: underline;
    color: pink;
}

i {
    display: inline;
    margin: 0 0 5px;
    font-size: 2rem;
    color: black;
    font-style: normal;
}

input, .working-time, button {
    text-align: center;
    width: 100%;
    background-color: pink;
    color: black;
    border: 0;
    border-radius: 4px;
    font-size: 2rem;
    margin-bottom: 5px;
    padding: 0 1rem 0 1rem;
}

button {
    transition: background-color .2s;
    margin-bottom: 3rem;
}

button:hover {
    background-color: lightcoral;
}

button:hover {
    background-color: lightcoral;
}

.working-time {
    text-align: center;
}

.gridx3 input {
    margin: 0;
}

.alt-register {
    margin-bottom: 6rem;
    font-size: 3vw;
    color: grey;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.separate {
    display: flex;
    justify-content: space-between;
}

.list-item {
    background-color: #701010;
    padding: 1rem;
    border: 2px solid pink;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.start-time-hours {
    display: inline;

}

.start-time-minutes {
    display: inline;
}

.delete {
    margin: 1rem 0 0 0;
}